@media print {
    .col-print-1 {width:8%;}
    .col-print-2 {width:16%;}
    .col-print-3 {width:25%;}
    .col-print-4 {width:33%;}
    .col-print-5 {width:42%;}
    .col-print-6 {width:50%;}
    .col-print-7 {width:58%;}
    .col-print-8 {width:66%;}
    .col-print-9 {width:75%;}
    .col-print-10{width:83%;}
    .col-print-11{width:92%;}
    .col-print-12{width:100%;}
    .offset-4 {margin-right: 0;}
}

@media print {
    @page {
        size: A4 ;
        padding: 0;
    }
    .pace {
        display: none !important;
    }
    .page-wrapper,
    .content
    {
        margin:3% !important;
        padding: 3% !important;
    }
    
    * {
        direction: rtl !important;
        font-size: 15px !important;
        padding: 0 !important;
        /* background-color: #fff !important */
    }

    body {
        background-color: #fff !important;
    }

    .invoice-details h3 {
        font-size: 14px
    }

    .no-print {
        display: none !important;
    }

    .filter {
        display: none;
    }
}
